/.gradle/
/.idea
/build
/out
/apk-analyze/build
/cmd-compiler/build
/cmd-processor/build
/dex-base-cmd/build
/dex-ir/build
/dex-reader/build
/dex-reader-api/build
/dex-smali/build/
/dex-tools/build/
/dex-translator/build
/dex-writer/build
/xml-parser/build
